@model IEnumerable<Gym.Models.ViewModels.IndexViewModel>

@{
    ViewBag.Title = "各館資訊";
}

<h2>各館目前課程與進場人數</h2>

<table class="table">
    <tr>
        <th>
            場館
        </th>
        <th>
            人數限制
        </th>
        <th>
            目前進場人數
        </th>
        <th>
            目前課程
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessNow)
        </td>

        <td>
            @foreach (var cls in item.CourseInfo)
            {

                @Html.DisplayFor(modelItem => cls)
                <br />
            }
        </td>
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
